#heads{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 90px;
    color:black;
    margin-top: 10px;
    text-align: center;
}
/* mid section */
#mid2{
    display: flex;
    text-align: center;
    margin-top: 40px;
    justify-content: center;
     
}

.img1{
     /* height: 1150px; */
     display: block;
     margin: auto;  
     text-align: center; 
     border-radius: 15px; 
}

.acc{
     border: 4px solid black;
     margin: 10px;
     padding: 34px;
     border-radius: 20px;
}

.acc:hover{
    background-color:#f2f2f2;
}
.container-fluid{
    margin-left:-1070px;
}
.container{
    margin-left: 37px;
}
.img1{
    height:  169px;
    width: 229px;
    border-radius: 10px;
    border: 4px solid black;
}
body{
    background: linear-gradient(115deg, #6eceda 10%,#f2eee5  90%);
}
footer{
    margin-top:50px;
   
}
#xyz{
  width:425px;  
}

 #nav1{
     margin-left: 55px;
 }
 #navimg{
     border-radius: 10px;
 }
 #Pharmanest{
    margin-left:20px;
 }
 #searchh{
     margin-right: 10px;
 }
  









